# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Env vars
.env

# OS-specific
*.swp
*.swo
